@mixin flex-center($direction: column) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
}

@mixin button-style {
    background: $color-boton;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        background: $color-boton-hover;
    }
}

@mixin card-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
