// Colores
$color-crema-claro: #FAF3E0;
$color-marron: #5A3E36;
$color-marron-claro: #8B5E3B;
$color-naranja: #D2691E;
$color-fondo-card: #FFF8E1;
$color-boton: #8B5E3B;
$color-boton-hover: #5A3E36;

// Tamaños
$max-width-container: 400px;
$max-width-card: 320px;
