@use "../base/variables" as v;
@use "../base/mixins" as m; 



$footer-bg: rgba(0, 0, 0, 0.8);
$footer-text-color: white;
$border-color: rgba(255, 215, 0, 0.6);
$shadow-color: rgba(0, 0, 0, 0.5);
$glow-gold: rgba(255, 215, 0, 0.5);
$glow-green: rgba(0, 255, 127, 0.3);
$glow-blue: rgba(30, 144, 255, 0.2);

footer {
    background: $footer-bg;
    color: $footer-text-color;
    font-weight: normal;
    padding: 2px 12px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0px -1px 3px $shadow-color, 0px -1px 5px rgba(255, 215, 0, 0.3);
    backdrop-filter: blur(8px);
    border-top: 0.3px solid $border-color;

    p {
        font-size: 0.9rem;
        margin: 0;
        color: transparent;
        background: linear-gradient(45deg, #FFD700, #00FF7F, #1E90FF);
        -webkit-background-clip: text;
        background-clip: text;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        font-family: 'Orbitron', sans-serif;
        text-shadow: 0 0 2px $glow-gold, 0 0 5px $glow-green, 0 0 10px $glow-blue;
        display: inline-block;
        transition: all 0.3s ease-in-out;



        &:hover {
            text-shadow: 0 0 5px rgba(255, 215, 0, 0.7), 0 0 10px rgba(0, 255, 127, 0.5), 0 0 15px rgba(30, 144, 255, 0.4);
        }

        &::before {
            content: " » ";
            color: #FFD700;
            display: inline-block;
            animation: neon 2s infinite alternate;
        }
    }
}

@keyframes neon {
    0% {
        text-shadow: 0 0 5px $glow-gold, 0 0 12px $glow-green;
    }

    100% {
        text-shadow: 0 0 8px $glow-gold, 0 0 15px $glow-green;
    }
}