@use "../base/variables" as v;
@use "../base/mixins" as m;

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: v.$navbar-bg !important;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px v.$shadow-color;
}

.navbar-brand {
    position: absolute;
    left: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    color: v.$highlight-color !important;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    color: v.$navbar-text-color !important;
    font-weight: bold;


    @include m.transition(all, 0.3s);

    &:hover {
        background: v.$highlight-color;
        color: v.$navbar-bg !important;
        box-shadow: 0px 0px 10px v.$hover-shadow;
        transform: scale(1.1);
    }
}