@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin boton-estilizado {
    background-color: $color-boton;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $color-boton-hover;
        box-shadow: 0 0 15px rgba(0, 255, 0, 0.6);
    }
}

@mixin sombra-neon {
    text-shadow: 0 0 5px $color-hover, 0 0 10px $color-hover, 0 0 20px $color-hover;
}

@mixin gradiente-texto {
    background: linear-gradient(45deg, $color-secundario, #00FF7F, #1E90FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
