//  Colores
$color-principal: #004d00;
$color-secundario: #FFD700;
$color-fondo: linear-gradient(to bottom, #005700, #000000);
$color-texto: white;
$color-hover: #ff0;
$color-boton: #007f00;
$color-boton-hover: #005700;

//  Fuentes
$fuente-principal: 'Arial', sans-serif;

//  Sombras
$sombra-texto: 2px 2px 10px rgba(255, 255, 255, 0.8);
$sombra-box: 0px 0px 10px rgba(255, 215, 0, 0.8);

$radio-borde: 10px;
$espaciado: 20px;
$ancho-max: 1200px;
